# deps
node_modules

# build
dist
.vite
.tanstack
.output

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# editor
.idea
.vscode
*.swp
*.swo
.DS_Store

# cloudflare
.wrangler